

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 960px;
    height: auto;
}

.grid-square {
    height: 50px;
    width: auto;
}

.colored {
    background: black;
}